body{
    background-color: black;
}
.header-designs {
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.header-designs img{
    margin-left: 200px;
}
.header-designs .call-to-action-buttons {
    position: absolute;
    bottom: 30px;
    left: 100px;
}
header {
    text-align: center;
    margin-bottom: 50px;
}


  
svg text {
    margin-top: 70px;
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #ffa5d8;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 2;

    animation: textAnimate 2s infinite alternate;
    
}
    
@keyframes textAnimate {
    0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(189, 68%, 75%)

    }
    
    100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
    }
    
}
.carousel-item img {
    background-color: cadetblue;
    margin: auto;
    border-radius: 5px;

}
.carousel-item h5, .carousel-item p {
    background-color: cadetblue;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin: auto;
    opacity: 0.7;
}